@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Saira:ital,wght@0,100..900;1,100..900&display=swap');

@import "tailwindcss";
@import "tailwindcss/utilities";
html {
  scroll-behavior: smooth;
}
/* SECTION REVEAL ANIMATION */
.section-hidden {
  opacity: 0;
  transform: translateY(40px);
  transition: opacity 0.8s ease, transform 0.8s ease;
}
/* CARD FLOAT ANIMATION */
.reveal {
  opacity: 0;
  transform: translateY(40px);
  transition: opacity 0.7s ease, transform 0.7s ease;
}

.reveal.active {
  opacity: 1;
  transform: translateY(0);
}

.section-show {
  opacity: 1;
  transform: translateY(0);
}

*{
  font-family: Montserrat;
  
}
html, body {
  width: 100%;
  overflow-x: hidden;
}
@theme {
  --color-dark-100:#1a1a1a;
  --color-dark-200:#1f1f1f;
  --color-dark-300:#2d2d2d;
  --color-dark-400:#3d3d3d;
  --color-purple:#8B5CF6;
  --color-pink:#EC4899;
  --color-blue: #3B82F6;
}
.typewriter {
  overflow: hidden;
  border-right: 0.15em solid #8B5CF6;
  white-space: nowrap;
  width: 0;
  animation: typing 3s steps(20, end) forwards, blink-caret 0.75s step-end 4;
}
@keyframes typing {
  from { width: 0; }
  to { width: 15ch; } /* Match the number of characters */
}
@keyframes blink-caret {
  from, to { border-color: transparent; }
  50% { border-color: #8B5CF6; }
}

@keyframes float {
  0% { transform: translateY(0px); }
  50% { transform: translateY(-15px); }
  100% { transform: translateY(0px); }
}

.animate-float {
  animation: float 4s ease-in-out infinite;
}
@keyframes zigzagMove {
  0% {
    stroke-dashoffset: 0;
    opacity: 0.15;
  }
  100% {
    stroke-dashoffset: -200;
    opacity: 0.3;
  }
}

.zigzag-line {
  stroke-dasharray: 12;
  animation: zigzagMove 40s linear infinite;
}
